@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
}

input[type="checkbox"] ~ .checkbox {
    display: block;
    border-radius: 6px;
    transition: all 0.375s;
}

input[type="checkbox"]:checked ~ .checkbox {
    transform: rotate(45deg);
    right: 4rem;
    width: 20px;
    background-color: transparent;
    border-color: #9f3ed5;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
}
